.logo-img {
    height: 30px; 
    width: auto;  
  }
.navbar-nav .nav-item .nav-link {
    padding-top: 0; 
    padding-bottom: 0; 
  }
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
.dropdown-menu {
    display: none;
  }
.carousel-img {
    height: 400px;
    object-fit: cover; 
  }
  ion-icon {
    font-size: 50px;
  }
  ion-icon {
    color: black;
  }
  /* Reset margin và padding */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Căn chỉnh ảnh ở trung tâm phía trên */
.center-top-image {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: flex-start; /* Căn phía trên */
  position: relative;
  margin-top: 20px; /* Cách phía trên một khoảng */
}

.liogo-img {
  max-width: 800px; /* Đặt kích thước tối đa cho ảnh */
  height: auto; /* Giữ tỉ lệ gốc của ảnh */
}

/* Định dạng nội dung trang */
.content {
  text-align: center;
  padding: 50px 20px;
}
